@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Pixelify+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: rgb(240, 240, 240);
}

p {
  text-align: justify;
}

p::first-letter {
  margin-left: 4ch;
}

a {
  color: rgb(36, 120, 255);
}