.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 5rem);
    text-align: center;
    width: 90vw;
    margin: 0 auto;
}

.main > h2 {
    text-transform: uppercase;
    margin-top: .5ch;
    margin-bottom: -.5ch;
}

.main p {
    text-align: center;
}

.main p::first-letter {
    margin: 0;
}

.count {
    margin-top: 1rem;
}

.buttons {
    display: flex;
    gap: 4px;
    margin-top: .5rem;
}